body{
    text-align: center;
}

p{
    color: grey;
    font-family: Ubuntu;
}
/* Nav Bar  */

#title {
    background-color: #ff4c68;
    padding-bottom: 7%;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: 500;
}

.navbar-nav {
    text-align: left;
}
/* heading  */

.head-text {
    color:#fff;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 60px;
    text-align: left;
    margin-top: 7%;
    line-height: 1.5;
}

.iphone-img {
    height: 600px;
    transform: rotate(20deg);
    position: absolute;
}
.iphone{
    text-align: left;
}

@media (max-width: 1000px){
    .iphone-img {
        height: 600px;
        transform: rotate(0);
        padding: 7%;
        position: static;

    }
    .iphone{
        text-align: center;
    }
    /* .container-text {
        text-align: center;
    } */
    .head-text {
        color:#fff;
        font-family: Montserrat;
        font-weight: 900;
        font-size: 60px;
        text-align: center;
        margin-top: 7%;
        line-height: 1.5;
    }
    
}


.btn-margin {
    margin: 10px 15px;
}

.icon-margin {
    margin-right: 10px;
}

/* Testimonial Section */


h3 {
    font-family:Montserrat ;
    font-weight: 800;
    padding: 15px;
}

.testimonial {
    padding: 7% 5%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.test-icon {
    color: #ef8172;
    padding: 7% 15%;
}
.test-icon:hover {
    color: #ff4c68;
    padding: 7% 15%;
}



/* Carousel */

#carousel {
    background-color:#ef8172;
}

.carousel-h {
    font-family: Montserrat;
    color: #fff;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 5% 15%;
    line-height: 1.5;
}

h5{
    color: #fff;
    display: inline-block;
    margin-bottom: 3px;
    
}

.img-adjust{
    border-radius: 100%;
    width:100px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.carousel-brand {
    width: 200px;
    padding: 20px 50px;
}

/* Pricing */

.price-head {
    color: black;
    font-family: Montserrat;
    font-weight: 750;
    padding-top: 50px;
    text-align: left;
    font-size: 3rem
}
.price-para {
    text-align: left;
    padding-bottom: 50px;
}


.btn-width {
    width: 100%;
}


.row {
    padding-bottom: 50px;
}

.price-stack {
    padding: 20px;
}


/* Download Section  */

#download {
    background-color: #ff4c68;
    padding: 7% 15%;
}

.download-h {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    font-family: Montserrat;
    padding-bottom: 15px;
}


/* Footer Section  */

#footer {
    padding: 50px;
}
.foot-icon{
    padding: 30px 10px;
}